<header>
  <div class="page-max-width d-flex flex-space-between flex-content-center">
    <div class="d-flex flex-items-center ml-0 mr-auto">
      <a class="logo d-inline-flex flex-items-center" href="https://doesitbeep.com">
        <span class="mr-12">Does It Beep?</span>
      </a>
    </div>

    <nav class="d-flex flex-items-center ml-auto mr-0">
      <a class="mr-24" href="/">
        Home
      </a>
      <a href="https://github.com/axfelix/doesitbeep" target="_blank" rel="nofolllow">
        {% include "icons/github.html" %}
        <span class="ml-8">GitHub</span>
      </a>
    </nav>
  </div>
</header>
